Estimado <%= @user %>,
<br/><br/>
Si has olvidado tu <strong>contraseña para <%= @app_name %></strong>, puedes generar una nueva haciendo clic en el siguiente enlace:
<br/><br/>
  <strong><a href='<%= reset_password_from_email_url :id => @user, :key => @key %>' title='Restablecer contraseña'><%= reset_password_from_email_url :id => @user, :key => @key %></a></strong>
<br/><br/>
Gracias,
<br/><br/>
El equipo de <%= @app_name %>.
<br/><br/>
<%= image_tag attachments['logo_email_html.png'].url %>

