<%= @user %> preziatua, 
<br/><br/>
<strong><%= @app_name %> plataformaren pasahitza</strong> ahaztu baduzu, berri bat sortu ahal duzu hurrengo estekan klikatuz:
<br/><br/>
  <strong><a href='<%= reset_password_from_email_url :id => @user, :key => @key %>' title='Pasahitza berriro ezarri'><%= reset_password_from_email_url :id => @user, :key => @key %></a></strong>
<br/><br/>
Eskerrik asko,
<br/><br/>
<%= @app_name %> plataformaren taldea.
<br/><br/>
<%= image_tag attachments['logo_email_html.png'].url %>
