Dear <%= @user %>,
<br/><br/>
If you have forgotten <strong>your password for <%= @app_name %></strong>, you can choose a new one by clicking on this link:
<br/><br/>
  <strong><a href='<%= reset_password_from_email_url :id => @user, :key => @key %>' title='Set new password'><%= reset_password_from_email_url :id => @user, :key => @key %></a></strong>
<br/><br/>
Thank you,
<br/><br/>
The <%= @app_name %> team.
<br/><br/>
<%= image_tag attachments['logo_email_html.png'].url %>
