Estimado <%= @user %>,
<br/><br/>
Te has inscrito correctamente en <%= @app_name %>.
<br/><br/>
Puedes acceder a la plataforma tecleando tu correo electrónico:
<br/><br/>
  <%= @user.email_address %> 
<br/><br/>
y la contraseña que has elegido durante el proceso de alta.
<br/><br/>
Puedes volver a la plataforma pulsando este enlace: <strong><a href='<%= @app_url %>' title='Acceder a la plataforma'><%= @app_url %></a></strong>
<br/><br/>
Para cualquier pregunta o comentario puedes contactar con nosotros en <a href='http://euskal-gorrak.org' title='Sitio web de Euskalgorrak'>http://euskal-gorrak.org</a>
<br/><br/>
Gracias,
<br/><br/>
El equipo de <%= @app_name %>.
<br/><br/>
<%= image_tag attachments['logo_email_html.png'].url %>
