<%= @user %> preziatua,
<br/><br/>
<%= @app_name %> plataforman izenemate prozesua bukatu duzu.
<br/><br/>
Zure erabiltzaile izena ez da indarrean egongo zerbitzuaren arduradunak onartu arte.
<br/><br/>
Behin onartuta, plataforman sartzeko zure korreo elektroniko helbidea erabili dezakezu:
<br/><br/>
  <%= @user.email_address %>
<br/><br/>
eta izenemate prozesuan aukeratutako pasahitza.
<br/><br/>
Edozein galdera edo komentarioa izanez gero, gure web helbidera joan zaitezke: <a href='http://euskal-gorrak.org/' title='Euskalgorrak webgunea'>http://euskal-gorrak.org</a>
<br/><br/>
Eskerrik asko,
<br/><br/>
<%= @app_name %> plataformaren taldea.
<br/><br/>
<%= image_tag attachments['logo_email_html.png'].url %>
